.header
  %h2=t_team_title(@team.name, :View)
%ul.breadcrumb
  %li
    %a{:href=>url("/courses")}=t(:Courses)
  %li
    %a{:href=>url("/course/#{@team.assessment[:course_id]}")}=@team.assessment.course_name
  %li
    %a{:href=>url("/assessment/#{@team.assessment_id}")}=@team.assessment_name

  %li.active=@team[:name]

%h3=t(:Completation_rate)

%table.table
  %thead
    %th=t(:Student)
    %th=t(:Responses)
    %th=t(:Completion)
  %tbody
  - mcr=@team.members_completation_rate
  - n_members=mcr.length
  - mcr.each_pair do |student_id,member_data|
    %tr
      %td=member_data[:student_name]
      %td=member_data[:n_responses]
      %td=percent_from_proportion( member_data[:n_responses].to_f / n_members.to_f)
%h3=t(:Responses_received)

%h4=t(:Average_response)

%div
  %ul.nav.nav-tabs{role:'tablist'}
    %li.active{role:"presentation"}
      %a{:href=>'#average_response', "aria-controls"=>"average_response", :role=>"tab", "data-toggle"=>"tab"}=t(:Average_response)
    %li{role:"presentation"}
      %a{:href=>'#average_response_partial', "aria-controls"=>"average_response_partial",:role=>"tab", "data-toggle"=>"tab"}=t(:Average_response_partial)



  %div.tab-content
    - rp=@team.response_pivot
    %div.tab-pane.active#average_response{role:'tabpanel'}
      %table.table
        %thead
          %th=t(:Student)
          -rp.criteria.each do |crit|
            %th=crit[:criterion_name]
          %th=t(:Total)
        %tbody
        - rp.pivot.each_pair do |student_id,member_data|
          %tr
            %td
              %a{:href=>url("/team/#{@team.id}/student/#{student_id}")}=@user_names[student_id]
            - rp.each_criterion_id do |crit_id|
              %td
                - value=member_data[crit_id]
                =@gs.output(value)
            %td
              - value=rp.student_total[student_id]
              =@gs.output(value)



    - rp=@team.response_pivot(:response_avg_partial)
    %div.tab-pane#average_response_partial{role:'tabpanel'}


      %table.table
        %thead
          %th=t(:Student)
          -rp.criteria.each do |crit|
            %th=crit[:criterion_name]
          %th=t(:Total)
        %tbody
        - rp.pivot.each_pair do |student_id,member_data|
          %tr
            %td
              %a{:href=>url("/team/#{@team.id}/student/#{student_id}")}=@user_names[student_id]
            - rp.each_criterion_id do |crit_id|
              %td
                - value=member_data[crit_id]
                ="#{@gs.grade(value)} (#{(value*100).round}%)"
            %td
              - value=rp.student_total[student_id]
              ="#{@gs.grade(value)} (#{(value*100).round}%)"



