.heading=t_assessment_title(@assessment[:name],:View)
%ul.breadcrumb
  %li
    %a{:href=>url("/courses")}=t(:Courses)
  %li
    %a{:href=>url("/course/#{@assessment[:course_id]}")}=@assessment.course_name
  %li.active=@assessment[:name]

%div.list-group
  %div{:class=>"list-group-item"}
    %span{:class=>"titulo"}=t(:Id)
    %span{ :name=>"name"}=@assessment[:id]
  %div{:class=>"list-group-item"}
    %span{:class=>"titulo"}=t(:Name)
    %span{ :name=>"name"}=@assessment[:name]
  %div{:class=>"list-group-item"}
    %span{:class=>"titulo"}=t(:Description)
    =@assessment[:description]
  %div{:class=>"list-group-item"}
    %span{:class=>"titulo"}=t(:Active)
    =t_yes_no_nil(@assessment[:active])
  - [:start_time_evaluation, :end_time_evaluation, :start_time_feedback, :end_time_feedback].each do |field|
    %div{:class=>"list-group-item"}
      %span{:class=>"titulo"}=t(field)
      =@assessment[field].nil? ? "--" : @assessment[field]
  %div{:class=>"list-group-item"}
    %span{:class=>"titulo"}=t(:Grade_system)
    =@assessment[:grade_system]
  %div{:class=>"list-group-item"}
    %span{:class=>"titulo"}=t(:Grade_parameter_1)
    =@assessment[:grade_parameter_1]
  %div{:class=>"list-group-item"}
    %span{:class=>"titulo"}=t(:Grade_parameter_2)
    =@assessment[:grade_parameter_2]

- if auth_to('assessment_admin')
  .btn-group{role:'group'}
    %a.btn.btn-default{:href=>url("/assessment/#{@assessment[:id]}/edit")}
      =t(:Edit)
    %a.btn.btn-default{:href=>url("/assessment/#{@assessment[:id]}/check_open_ended_responses")}
      =t(:Check_open_ended_responses)
    %a.btn.btn-default{:href=>url("/assessment/#{@assessment[:id]}/export_excel")}
      =t(:Export_to_Excel)

%p
- if auth_to('assessment_view')
  %div{:class=>"list-group-item"}
    %h4{:class=>"list-group-item-heading"}=t(:Teams)
    - if @assessment.teams
      %table.table
        %thead
          %th=t(:Team)
          %th=t(:Members)
          %th=t(:Responses)
          %th=t(:Completion)
          %th=t(:Average_response_partial)
          %th=t(:Average_response)
        %tbody
        - @assessment.teams_completation_rate.each_pair do |team_id,team_data|
          %tr
            %td
              %a{:href=>url("/team/#{team_id}")}=team_data[:team_name]
            %td=team_data[:n_students]
            %td=team_data[:n_responses]
            %td=team_data[:perc_complete].to_i
            %td
              =@gs.output(team_data[:response_avg_partial])
            %td
              =@gs.output(team_data[:response_avg])

    - else
      %p
        %em=t(:No_teams)

- if auth_to("assessment_evaluate")
  =partial(:students_to_evaluate, :locals=>{user:@user, assessment:@assessment})
